@use 'print';

$colour-coral: rgb(227, 73, 84);
$colour-teal: rgb(0, 162, 138);
$colour-blue: rgb(0, 105, 179);
$colour-gold: rgb(255, 215, 0);

$colour-title-h: $colour-gold;

$logo-inset-right: 0.57em;
$logo-inset-top: 0.65em;
$logo-height: 8.05em;

@mixin logo-pos {
    background: {
        repeat: no-repeat;
        position: right $logo-inset-right top $logo-inset-top;
        size: auto $logo-height;
    }
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
    font-weight: normal;
}
.remark-code, .remark-inline-code { font-size: 1.5rem; }
pre {
    padding-left: 1em;
    border-left: 5px solid #aaa;
}

hr {
    border-top: 4px solid #aaa;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0 20%;
}

li {
    margin: 0.5em 0;
}

blockquote {
    clear: left;
    border-left: #aaa 5px solid;
    padding-left: 1em;
    font-style: italic;

    .pullquote & {
        border-right: #aaa 5px solid;
        padding-right: 1em;
        text-align: right;
    }
}

.remark-slide-content img {
    max-height: 494px;
    max-width: 800px;
}
.smaller-img img {
    max-height: 330px;
}
.title {
    border-bottom: none !important;
    color: white;
    padding-right: 25%;
    background-image: url(assets/logo-white.png) !important;

    &, &.coral {
        background-color: $colour-coral !important;
    }
    &.teal {
        background-color: $colour-teal !important;
    }
    &.blue {
        background-color: $colour-blue !important;
    }

    & h1, & h2 {
        color: $colour-title-h;
        margin-top: 0;
        margin-bottom: 0.2em;
    }
}

a, a:visited {
    color: $colour-coral;
}
.title a, .title a:visited {
    color: white;
}

.remark-slide-content {
    font-size: 30px;

    @include logo-pos;
    background-color: white;
    &, &.coral {
        background-image: url(assets/logo-coral.png);
        border-bottom: $colour-coral solid 2em;
    }
    &.teal {
        background-image: url(assets/logo-teal.png);
        border-bottom: $colour-teal solid 2em;
    }
    &.blue {
        background-image: url(assets/logo-blue.png);
        border-bottom: $colour-blue solid 2em;
    }

    & .center {
        clear: both;
    }
}

.hl {
    background-color: $colour-gold;
}
.hl-coral {
    background-color: $colour-coral;
}
.hl-teal {
    background-color: $colour-teal;
}
.hl-blue {
    background-color: $colour-blue;
    color: white;
}

.tx-coral {
    color: $colour-coral;
}
.tx-teal {
    color: $colour-teal;
}
.tx-blue {
    color: $colour-blue;
}
.tx-dim {
    color: rgb(180, 180, 180);
}

#slide-thanks {
    background: {
        repeat: no-repeat;
        position: center;
        size: cover;
        image: url(assets/thanks-compass-coral.jpg);
    }
    font-size: 30px;
    border-bottom: none !important;

    &.plain {
        background-image: url(assets/thanks-plain-coral.jpg);
    }
}

.col {
    float: left;
    width: 45%;
    padding-right: 5%;
}

.col3 {
    float: left;
    width: 28%;
    padding-right: 5%;
}

.pillar {
    width: 25%;
    margin: 0.5em;
    padding: 5em 0.5em;
    background: $colour-teal;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.photo-credit, .citation {
    font-style: italic;
    font-size: 50%;
    line-height: 120%;
}
.photo-credit, .photo-credit a,
.citation, .citation a
{
    color: #aaa;
}
.citation {
    display: block;
    text-align: left;
}

@include print.tweaks;
