body {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: normal;
}

.remark-code, .remark-inline-code {
  font-size: 1.5rem;
}

pre {
  padding-left: 1em;
  border-left: 5px solid #aaa;
}

hr {
  border-top: 4px solid #aaa;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 0 20%;
}

li {
  margin: 0.5em 0;
}

blockquote {
  clear: left;
  border-left: #aaa 5px solid;
  padding-left: 1em;
  font-style: italic;
}
.pullquote blockquote {
  border-right: #aaa 5px solid;
  padding-right: 1em;
  text-align: right;
}

.remark-slide-content img {
  max-height: 494px;
  max-width: 800px;
}

.smaller-img img {
  max-height: 330px;
}

.title {
  border-bottom: none !important;
  color: white;
  padding-right: 25%;
  background-image: url(assets/logo-white.png) !important;
}
.title, .title.coral {
  background-color: #e34954 !important;
}
.title.teal {
  background-color: #00a28a !important;
}
.title.blue {
  background-color: #0069b3 !important;
}
.title h1, .title h2 {
  color: gold;
  margin-top: 0;
  margin-bottom: 0.2em;
}

a, a:visited {
  color: #e34954;
}

.title a, .title a:visited {
  color: white;
}

.remark-slide-content {
  font-size: 30px;
  background-repeat: no-repeat;
  background-position: right 0.57em top 0.65em;
  background-size: auto 8.05em;
  background-color: white;
}
.remark-slide-content, .remark-slide-content.coral {
  background-image: url(assets/logo-coral.png);
  border-bottom: #e34954 solid 2em;
}
.remark-slide-content.teal {
  background-image: url(assets/logo-teal.png);
  border-bottom: #00a28a solid 2em;
}
.remark-slide-content.blue {
  background-image: url(assets/logo-blue.png);
  border-bottom: #0069b3 solid 2em;
}
.remark-slide-content .center {
  clear: both;
}

.hl {
  background-color: gold;
}

.hl-coral {
  background-color: #e34954;
}

.hl-teal {
  background-color: #00a28a;
}

.hl-blue {
  background-color: #0069b3;
  color: white;
}

.tx-coral {
  color: #e34954;
}

.tx-teal {
  color: #00a28a;
}

.tx-blue {
  color: #0069b3;
}

.tx-dim {
  color: #b4b4b4;
}

#slide-thanks {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(assets/thanks-compass-coral.jpg);
  font-size: 30px;
  border-bottom: none !important;
}
#slide-thanks.plain {
  background-image: url(assets/thanks-plain-coral.jpg);
}

.col {
  float: left;
  width: 45%;
  padding-right: 5%;
}

.col3 {
  float: left;
  width: 28%;
  padding-right: 5%;
}

.pillar {
  width: 25%;
  margin: 0.5em;
  padding: 5em 0.5em;
  background: #00a28a;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.photo-credit, .citation {
  font-style: italic;
  font-size: 50%;
  line-height: 120%;
}

.photo-credit, .photo-credit a,
.citation, .citation a {
  color: #aaa;
}

.citation {
  display: block;
  text-align: left;
}

/* Tweaks for PDF export via Chrome print-to-PDF ****************************
 *
 * see https://github.com/gnab/remark/issues/50#issuecomment-327391929
 */
@page {
  size: 1210px 681px;
  margin: 0;
}
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}

/*# sourceMappingURL=walton.css.map */
